%div
  =debug(params)
%a
  = link_to "back", items_path

%p
  = @item.category_id
%h1
  = @item.name
%div
  - @item.option_groups.each do |group|
    %p
      = group.name
    %ul
      - group.options.each do |option|
        %li
          = option.name
          = option.option_values.first.name
