%a
  = link_to "back", items_path

%p
  = @item.category.name
%h1
  = @item.name
%div
  - @item.option_groups.each do |group|
    %p
      = group.name
    %ul
      - group.options.each do |option|
        %li
          = option.option_element.class.to_s + ' - ' + option.name + ':'
          - option.option_values.each do |value|
            %ol
              = value.value_element.value
