%a
  = link_to "back", items_path

%h1
  = @category.name
= form_for @item do |f|
  %p
    = f.label :name
  %p
    = f.text_field :name
  = f.hidden_field :category_id, value: @category.id
  %div
    - @category.option_groups.each do |group|
      %p
        = group.name
      %ul
        - group.options.each do |option|
          = f.fields_for :properties, @item.properties.new do |property|
            %li
              = render partial: option.option_element_type.underscore, locals: { property: property, option: option, f: f}
  = f.submit "Create new"